# Ignore all hidden files
.*

# Except Dockerfile
!Dockerfile

.git
.gitattributes
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.so
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.db
README.md
LICENSE
